# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Pyrogram session files
*.session
*.session-journal

# Virtual environment
venv/
env/

# IDE files
.idea/
.vscode/

# Log files
*.log
